# built files
build
conan 

# input data
input
*.wav
*.png
*.npy
assets/records/*.json
assets/records/**/*.txt
!assets/presentation/courship_sounds_example.png

# cache
src/train/__pycache__

# output files
output
report.py

# models
assets/models

# vscode
.vscode

# cmake files
CMakeUserPresets.json
# CMakePresets.json

# classification models
# /**/*.pth
# /**/*.pt